<div id="page-wrapper" class="gray-bg">
  <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom:0px;">
      <div class="navbar-header">Test header</div>
    </nav>
  </div>

  <div id="content-area" class="wrapper wrapper-content"></div>

  <div class="footer">
    <div class="pull-right">
      <span>Test Footer</span>
    </div>
  </div>

</div>
